{% for post in posts %}
    {{ post }}
{% endfor %}
<html>
    <head>
      <title>Django Girls blog</title>
    </head>

    <body>

      <div>
        <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
          <p>published: 14.06.2014, 12:14</p>
          <h2><a href="">My first post</a></h2>
          <p> fudsyufsdufludsf, jkghsldghkslkhjg,dsjgkldsglkgjadasd dsjfd flhadgsdlkjghslahg hh gs</p>
       </div>

       <div>
         <p>published: 14.06.2014, 12:14</p>
         <h2><a href="">My second post</a></h2>
         <p>Sjfkadfj jdsf;jl djd;jgk jkdsgjjdsghdsgahhgh hlkadhg dds</p>
        </div>
    </body>
</html>
